<link rel="stylesheet" href="/css/footer.css">
<footer class="container-fluid footer bg-primary text-center">
    <a href="http://github.com/anmolw/placement-test" class="text-white">View code on GitHub</a>
</footer>