<!-- Navbar -->
<nav class="navbar navbar-expand bg-primary navbar-dark mb-3 mb-lg-4">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">Placements</a>
        <% // Only show navbar links if the user is logged in %>
        <% if (locals.user) { %>
        <ul class="navbar-nav me-auto">
            <% // Conditionally apply an active class to nav links based on the page title %>
            <li class="nav-item"><a href="/students"
                    class="nav-link <%= (locals.title === 'Students') ? 'active' : ''%>" % />Students</a></li>
            <li class=" nav-item"><a href="/interviews"
                    class="nav-link <%= (locals.title.startsWith('Interview')) ? 'active' : ''%>">Interviews</a></li>
            <li class=" nav-item"><a href="/jobs"
                    class="nav-link <%= (locals.title === 'Jobs') ? 'active' : ''%>">Jobs</a></li>
        </ul>
        <span class="text-white p-2"><%= locals.user.name %></span>
        <a href="/export/csv" class="btn btn-primary">Export</a>
        <a href="/employees/logout" class="btn btn-primary">Logout</a>
        <% } %>
    </div>
</nav>