<h1>Login</h1>
<div class="row">
    <!-- Login form -->
    <form action="/employees/login" class="mx-auto col-6" method="post">
        <div class="mb-2">
            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" id="email" class="form-control">
        </div>
        <div class="mb-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/employees/register" class="btn btn-primary">Register</a>
    </form>
</div>